<app>
  <img src="{state.logo_path}">
  <div id="map"></div>

  <script>
    export default {
      onMounted() {
        this.state.logo_path = 'img/logo.png'

        this.update({
        })
      }
    }
  </script>
</app>
