<app>

  <div>{state.sentence}</div>

  <script>
    export default {
      onMounted() {
        this.state.sentence = "This is App component"

        this.update({
        })
      }
    }
  </script>
</app>
