<item-button>
  <button id="item_button_root">
    <img class="item-img" src="{props.img_path}">
  </button>

  <script>
    export default {
      onMounted() {
      }
    }
  </script>

  <style scoped>
    button#item_button_root {
      padding: 0;
      margin: 0;
      height: 100%;
      width: 100%;
    }

    img.item-img {
      height: 100%;
      width: 100%;
    }
  </style>
</item-button>
